<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Z.ExtensionMethods" publicKeyToken="59b66d028979105b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="4.0.3.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <!--消息连接字符串-生产环境-->
    <!--<add name="MsgDwcConnetionString" connectionString="Data Source=116.62.52.158;Initial Catalog=MsgDwc;User ID=sa;Password=Bk1770@Dev" providerName="System.Data.SqlClient" />-->
    <!--消息连接字符串-开发环境-->
    <add name="MsgDwcConnetionString" connectionString="Data Source=114.55.65.226;Initial Catalog=MsgDwc;User ID=sa;Password=Bk1770!Dev@" providerName="System.Data.SqlClient" />
    <!--业务库连接字符串-开发环境-->
    <add name="IMXDwcConnetionString" connectionString="Data Source=114.55.65.226;Initial Catalog=IMXDwc;User ID=sa;Password=Bk1770!Dev@" providerName="System.Data.SqlClient" />

    <!--测试库-->
    <add name="IMSDCConnStr" connectionString="metadata=res://IMS.Data/IMS.csdl|res://IMS.Data/IMS.ssdl|res://IMS.Data/IMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=114.55.65.226;Initial Catalog=IMXDwc;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=2nrnLCnsXwogMAOejVEAdw==&quot;" />
    <add name="IMSBizDBConnStr" connectionString="metadata=res://IMS.Data/IMS.csdl|res://IMS.Data/IMS.ssdl|res://IMS.Data/IMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=114.55.65.226;Initial Catalog=IMXDwc;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=2nrnLCnsXwogMAOejVEAdw==&quot;" />

    <add name="Influxdb" connectionString="Data Source=http://118.31.33.241:8086;Initial Catalog=msg_dwc_emq_test;"/>
  </connectionStrings>

  <appSettings>
    <add key="rabbitmq-default" value="host=192.168.8.203:5672;virtualHost=/;username=superrd;password=superrd" />
    <add key="maxCount" value="1000" />
    <!--URL测试环境-->
    <add key="MsgApiURL" value="http://114.55.65.226:8100/api/" />
    <add key="Appkey" value="1000003" />
    <add key="AppSecret" value="266D7544-16DF-4DC3-AAA2-4531DD4326FA" />
    <add key="ProcessBy" value="HangfireJob" />
    <add key="baseUrl" value="http://bizapi.humanbacker.com/api/"/>
    <add key="InfraUrl" value="http://iotapi.humanbacker.com/api/"/>
    <add key="redEnvelopesApiUrl" value="https://balans.humanbacker.com/api/"/>
    <add key="StockInOutSecurityHour" value="2"/>
    <!--Redis配置-->
    <add key="WriteServerConStr" value="Backer@2018@r-bp11d13650f8cb64.redis.rds.aliyuncs.com:6379" />
    <add key="ReadServerConStr" value="Backer@2018@r-bp11d13650f8cb64.redis.rds.aliyuncs.com:6379" />
    <add key="MaxWritePoolSize" value="1000" />
    <add key="MaxReadPoolSize" value="1000" />
    <add key="DefaultDb" value="0" />
    <add key="AutoStart" value="true" />
    
    <!--请求日志路径-->
    <add key="BKBizApiLogsRequestConfig" value="logPath=C:\Log\NLOG\IMS_B\BApiRequest;measurementName=BApiRequestLogs;blacklistregexUrl=/api/MsgToVoucher/SingleItemSave"/>

    <!--单据冗余处理之业务报文的时间区间-->
    <add key="TimeSpanMinute" value="250"/>
  </appSettings>

</configuration>