<?xml version="1.0" ?>
<configuration>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="IMS.Logging.NLog"/>
    </extensions>
    <targets>
      <!--<target name="mail_async" xsi:type="AsyncWrapper">
        -->
      <!--<target name="mail_log" xsi:type="Mail" smtpServer="mail.xxx" smtpPort="25"-->
      <!--
          smtpUsername="xxx@xxx" smtpPassword="xxx"
          from="xxx@xxx" to="xxx@xxx" html="true"
          subject="异常监控，来源：${NLogSource}" layout="&lt;strong&gt;来源：&lt;/strong&gt;${NLogSource} &lt;br/&gt; &lt;strong&gt;时间：&lt;/strong&gt;${longdate} &lt;br/&gt; &lt;strong&gt;路径：&lt;/strong&gt;${stacktrace} &lt;br /&gt; &lt;strong&gt;消息：&lt;/strong&gt;${message} &lt;br /&gt; &lt;br /&gt;"/>
      </target>-->

      <target name="file_log" xsi:type="File" fileName="D:\Logs\Hangfire\${shortdate}\${shortdate}_log.txt"
              layout="${newline}时间：${longdate}
              ${newline}路径：${stacktrace} 
              ${newline}消息：${message}
              "/>

      <target name="exception_log" xsi:type="File" fileName="D:\Logs\Hangfire\${shortdate}\${shortdate}_error.txt"
              layout="${newline}时间：${longdate} 
                      ${message}"/>
      <!--${newline}路径：${stacktrace}-->

      <!--<target name="webmessage_log" xsi:type="File" fileName="${basedir}\Logs\log.txt"
        layout="&lt;strong&gt;时间：&lt;/strong&gt;${longdate} &lt;br/&gt; 
              ${WebMessage}
              "/>-->

      <!--<target xsi:type="Network"
        name="udp_log"
        onOverflow="Split"
        layout="EXCEPTION_SOURCE[:]${NLogSource}[seperate]CREATE_TIME[:]${longdate}[seperate]EXCEPTION_STACK[:]${stacktrace}[seperate]EXCEPTION_MESSAGE[:]${message}"
        maxMessageSize="30720"
        encoding="utf-8"
        address="${NLogUdpAddress}" />-->
    </targets>
    <rules>
      <!--<logger name="*" minlevel="Trace" writeTo="file_log" />-->

      <logger name="tracelog" minlevel="Trace" writeTo="file_log" />
      <logger name="sqllog" minlevel="Trace" writeTo="file_log" />
      <logger name="servicelog" minlevel="Trace" writeTo="file_log" />
      <logger name="exceptionlog" minlevel="Trace" writeTo="exception_log" />
      <logger name="exceptionlog_debug" minlevel="Trace" writeTo="exception_log" />


      <!--<logger name="requestlog" minlevel="Trace" writeTo="webmessage_log" />
      <logger name="responselog" minlevel="Trace" writeTo="webmessage_log" />-->
    </rules>
  </nlog>
</configuration>
