<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net462" />
  <package id="Autofac.WebApi2" version="4.2.0" targetFramework="net462" />
  <package id="Hangfire" version="1.6.20" targetFramework="net462" />
  <package id="Hangfire.Autofac" version="2.3.1" targetFramework="net462" />
  <package id="Hangfire.Console" version="1.4.1" targetFramework="net462" />
  <package id="Hangfire.Core" version="1.6.20" targetFramework="net462" />
  <package id="Hangfire.Dashboard.Authorization" version="2.1.0" targetFramework="net462" />
  <package id="Hangfire.RecurringJobExtensions" version="1.1.6" targetFramework="net462" />
  <package id="Hangfire.Redis.StackExchange" version="1.7.2" targetFramework="net462" />
  <package id="Hangfire.SqlServer" version="1.6.20" targetFramework="net462" />
  <package id="Hangfire.SqlServer.MSMQ" version="1.6.20" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="Serilog" version="2.7.1" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net462" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net462" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net462" />
  <package id="Topshelf" version="4.0.4" targetFramework="net462" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net462" />
</packages>